---
# Sensu backend configuration

##
# backend configuration
##
state-dir: "/var/lib/sensu/sensu-client"
#cache-dir: "/var/cache/sensu/sensu-client"
config-file: "/etc/sensu/agent.yml"
debug: true 
#deregistration-handler: "example_handler"
log-level: "debug" # available log levels: panic, fatal, error, warn, info, debug

##
# agent configuration
##
#agent-host: "[::]" # listen on all IPv4 and IPv6 addresses
#agent-port: 8081

##
# api configuration
##
#api-listen-address: "[::]:8080" # listen on all IPv4 and IPv6 addresses
#api-url: "http://localhost:8080"

##
# dashboard configuration
##
#dashboard-cert-file: "/path/to/ssl/cert.pem"
#dashboard-key-file: "/path/to/ssl/key.pem"
#dashboard-host: "[::]" # listen on all IPv4 and IPv6 addresses
#dashboard-port: 3000

##
# ssl configuration
##
#cert-file: "/path/to/ssl/cert.pem"
#key-file: "/path/to/ssl/key.pem"
#trusted-ca-file: "/path/to/trusted-certificate-authorities.pem"
#insecure-skip-tls-verify: false

##
# store configuration
##
##
# store configuration for {{ inventory_hostname }}/{{ ansible_eth0.ipv4.address }}
##
etcd-advertise-client-urls: "http://{{ ansible_eth0.ipv4.address }}:2379"
#etcd-cert-file: "/path/to/ssl/cert.pem"
#etcd-client-cert-auth: false
etcd-initial-advertise-peer-urls: "http://{{ ansible_eth0.ipv4.address }}:2380"
etcd-initial-cluster: "{{ etcd_initial_cluster }}"
etcd-initial-cluster-state: "new"
etcd-initial-cluster-token: ""
#etcd-key-file: "/path/to/ssl/key.pem"
etcd-listen-client-urls: "http://{{ ansible_eth0.ipv4.address }}:2379"
etcd-listen-peer-urls: "http://0.0.0.0:2380"
etcd-name: "{{ inventory_hostname }}"
#etcd-peer-cert-file: "/path/to/ssl/cert.pem"
#etcd-peer-client-cert-auth: false
#etcd-peer-key-file: "/path/to/ssl/key.pem"
#etcd-peer-trusted-ca-file: "/path/to/ssl/key.pem"
#etcd-trusted-ca-file: "/path/to/ssl/key.pem"
#no-embed-etcd: false
#etcd-cipher-suits
#  - TLS_EXAMPLE
